
.al-center {
    display: flex;
    align-items: center;
}

.ju-center {
    justify-content: center;
}

@media only screen and (max-width: 768px) {}

.header {
    text-align: center;
}

.services {
    background-color: #f0f0f0;
    padding: 20px;
}

.commitments {
    background-color: #d0e0f0;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
}

* {
    font-family: 'inter';
    font-style: normal;
}

.form-container {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.voucher
{
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
}

.form-column {
    margin-left: 20;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.banner {
    background-color: #003459;
    color: #f0f0f0;
}

.commitment {
    background-color: rgb(237, 237, 187);
    color: #000;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 30px;
    width: 30%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    float: left;

}

.contain {
    background-color: #f2f2f2;
    padding: 20px;
}

.contain p {
    font-size: 16px;
}

.mau {
    color: red;
}

.column {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.column .col {
    background: rgb(237, 237, 187);
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.column .comn {
    background-color: #003459;
    color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}

.column .conner {
    background: rgb(237, 237, 187);
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}

#sub {
    text-align: center;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: bold;

}

input[type=submit] {
    border-radius: 20px;
    background-color: #003459;
}

.item {
    width: 17vw;
    text-align: center;
    border: 0.5px solid gainsboro;
    border-radius: 12px;
    background: var(--Neutral-Color-00, #FDFDFD);
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}

.item a {
    color: #000;
    text-decoration: none;
}

.item img {
    margin: 0.5vw 0;
    border-radius: 12px;
}

.item img:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.pro-price {
    color: #FF0E0E;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
    text-align: left;
    margin: 0 2vw 1vw 2vw;
}

.pro-price .old-price {
    font-size: 16px;
    font-weight: 100;
    color: #000;
    text-decoration-line: line-through;
}

.sales {
    text-align: end;
    margin: 1vw 1.5vw;
}

.number-of-sales {
    display: inline;
}

.text-truncate-container {
    width: 80%;
    margin: auto;
}

.text-truncate-container p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}

.products-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.products-list a:hover {
    text-decoration-line: none;
    color: #000;
}

.review-section {
    background-color: #FDFDFD;
    color: black;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    
}

.review {
    margin-bottom: 20px;
}

.star-rating {
    color: yellow;
}

input[type=submit] {
    border-radius: 10px;
    background-color: #003459;
    padding: 8px;
}

.item {
    width: 17vw;
    text-align: center;
    border: 0.5px solid gainsboro;
    border-radius: 12px;
    background: var(--Neutral-Color-00, #FDFDFD);
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}

.item a {
    color: #000;
    text-decoration: none;
}

.item img {
    margin: 0.5vw 0;
    border-radius: 12px;
}

.item img:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.pro-price {
    color: #FF0E0E;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
    text-align: left;
    margin: 0 2vw 1vw 2vw;
}

.pro-price .old-price {
    font-size: 16px;
    font-weight: 100;
    color: #000;
    text-decoration-line: line-through;
}

.sales {
    text-align: end;
    margin: 1vw 1.5vw;
}

.number-of-sales {
    display: inline;
}

.text-truncate-container {
    width: 80%;
    margin: auto;
}

.text-truncate-container p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}

.products-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.products-list a:hover {
    text-decoration-line: none;
    color: #000;
}

.contain {
    background-color: #f2f2f2;
    padding: 20px;
}

.contain p {
    font-size: 16px;
}

#sub {
    float: center;
}
.product-card1, .product-card2 , .product-card3 , .product-card4 , .product-card5 , .product-card6 {
    position: relative;
    border-radius: 10px;
    margin: 20px;
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 1vw;
    height: 420px;
}
.card-info,
.card-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px;
    background-color: #f0f0f0;
    transition: opacity 0.3s ease-in-out;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 10px;
}

.card-detail {
    opacity: 0;
    pointer-events: none;
}
.show-details .card-info {
    opacity: 0;
    pointer-events: none;
}

.show-details .card-detail {
    opacity: 1;
    pointer-events: auto;
}
.chi-tiet, .gia
{
    color: black;
    margin-top: 1vw;
    background-color: #103559;
    color: #FCEED5;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -2vw;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover
{
    background-color: #ffffff00;
    color: #000;
}