
.container p {
    font-size: 1.2vw;
}

.nen {
    text-align: center;
    color: #003459;
    margin-bottom: 5vw;
    font-size: 1.5vw;
    margin-top: 2vw;
}
img {
    margin-top: 3vw;
    width: 100%;
}