body {
    background-color: #F9FAFB;
}

.header {
    height: fit-content;
    padding: 2% 3% 0 2%;
    display: flex;
    background-color: #fefefe;
    border-bottom: 1px solid #D9D7D7;
}

.logo {
    width: 10vw;
    text-align: center;
}
.logo img {
    width: 4vw;
    max-width: 70px;
}
.header #search-container {
    position: relative;
    background-color: #ffffffea;
    flex-direction: row;
    display: flex;
    width: 35vw;
    border-radius: 10px;
    border: 1px solid #D9D7D7;
    margin-top: 0.6vw;
}

.header #submit {
    padding: 1.5% 2%;
    margin-left: 1%;
    background-color: white;
}

.header #input_search {
    width: 90%;
    border: none;
    margin: 1% 1%;

}

#status {
    color: #003459;
    margin-left: 9vw;
    margin-top: 0.5vw;
    width: 30%;
}

#account-admin {
    margin-left: 8vw;
    display: flex;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
#name-admin {
    margin-left: 7px;
}
#menu {
    width: max-content;
    background-color: #ffffff;
    max-height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-right: 1px solid #D9D7D7;
    margin-top: -1px;
}
#action {
    background-color: antiquewhite;
    border-radius: 10px;
    font-weight: 700;
}
#action a {
    font-size: 22px;
}
#menu li {
    list-style: none;
    margin-bottom: 1vw;
    font-size: 20px;
    padding: 1vw 2vw 1vw 0;
}

#menu li:hover {
    text-decoration-line: underline;
}

#menu a {
    text-decoration-line: none;
    color: #003459;
    margin-left: 1vw;
}

#menu ul li {
    position: relative;
}
.sub-menu li {
    margin-left: -2vw;

}

#menu .sub-menu {
    position: absolute;
    margin-left: 195px;
    margin-top: -43px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
    border: 1px solid #D9D7D7;
    display: none;
}

#menu li:hover .sub-menu {
    display: block;
}

#container {
    width: 80%;
    margin-left: 1vw;
    margin-top: 2vw;
}

#style-1 {
    display: flex;
    margin-top: 2vw;
    justify-content: space-between;
}

#total-revenue,
#total-order,
#new-customer {
    padding: 0.8vw 1vw;
    width: 30%;
}

#total-revenue {
    background-color: #FFE2E5;
    border-radius: 10px;
}

#total-order {
    background-color: #FFF4DE;
    border-radius: 10px;
}

#new-customer {
    background-color: #F3E8FF;
    border-radius: 10px;
}

#detail-revenue,
#detail-order,
#detail-customer {
    margin-top: 1vw;
}

#statistic {
    background-color: #ffffff;
    width: 50%;
    padding: 2vw;
    border-radius: 10px;
}

#current-time {
    margin-left: 3vw;
}

#date p {
    font-size: 24px;
    font-weight: 600;
    display: inline;
}

#ratio-1,
#ratio-2,
#ratio-3,
#ratio-4,
#ratio-5 {
    width: 10%;
    text-align: center;
}

#part-1 {
    display: flex;
}

#best-seller {
    width: 50%;
    margin-left: 3%;
    background-color: #ffffff;
    padding: 1vw 3vw;
}

.text-truncate-container {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
    text-align: left;
}

#ratio-1,
#ratio-2,
#ratio-3,
#ratio-4,
#ratio-5 {
    text-align: center;
    width: 40px;
    border-radius: 10px;
}

#ratio-1 {
    border: 1px solid #0095FF;
    background-color: #F0F9FF;
    color: #0095FF;
}

#ratio-2 {
    border: 1px solid #884DFF;
    background-color: #FBF1FF;
    color: #884DFF;
}

#ratio-3 {
    border: 1px solid #00900a;
    background-color: #F1FFF2;
    color: #00900a;
}

#ratio-4 {
    border: 1px solid #FF8900;
    background-color: #FEF6E6;
    color: #FF8900;
}

#ratio-1 {
    border: 1px solid #0095FF;
    background-color: #F0F9FF;
    color: #0095FF;
}

#ratio-5 {
    border: 1px solid #ab005e;
    background-color: #fff7fb;
    color: #ab005e;
}

table th,
td {
    padding: 3px 10px 0 10px;
    text-align: center;
    border-bottom: 1px solid #EDF2F6;
    margin: auto;

}

table th {
    color: #96A5B8;
    font-weight: 400;
}

table td {
    font-size: 14px;
}

table p {
    margin: 7px 0;
}
.chartRevenue, .chartOrder
{
width: 80vw;
background-color: rgb(255, 255, 255);
align-items: center;
justify-content: center;
margin-top: 2vw;
border-radius: 10px;
padding: 2vw;
}
#current-year
{
    margin-left: 10px;
}
#years
{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 1vw;
    width: 20%;
    text-align: center;
    border: none;
}
.modal-body input[type=number]
{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}
.modal-body table
{
    width: 100%;
    margin-top: -1vw;
}
table p
{
    font-size: 15px;
    text-align: left;
}
#close
{
    background-color: #FEF6E6;
    color: #003459;
    font-weight: 600;
}
#save
{
    background-color: #003459;
    color: #FEF6E6;
    font-weight: 600;
}