.header {
    height: fit-content;
    padding: 2% 3% 0 2%;
    display: flex;
    background-color: #FCEED5;
}

.logo {
    width: 15vw;
    text-align: center;
}

.logo img {
    width: 4vw;
    max-width: 70px;
}

.header .logo {
    width: 10vw;
}

.header #search-container {
    position: relative;
    background-color: #ffffffea;
    flex-direction: row;
    display: flex;
    width: 45vw;
    border-radius: 30px;
    border: 1px solid #D9D7D7;
    margin-left: 5vw;
}

.header #submit {
    padding: 1.5% 2%;
    margin-left: 1%;
    background-color: white;
    border: none;
}

.header button {
    border: none;
    border-radius: 30px;
}

.header #input_search {
    width: 90%;
    border: none;
    margin: 1% 1%;
    font-size: 1vw;
}

.header #isearch {
    width: 90%;
    font-size: 1.2vw;
}

.header #phone,
#email {
    text-align: center;
    padding: 1% 5%;
    margin: 0 5vw 0 0;
}

.header #sty_phone,
#sty_email {
    color: #8E8989;
    font-family: Inter;
    line-height: 1px;
    font-size: 1vw;
}

.header #infor {
    display: inline-flex;
    margin-left: 10vw;
    font-size: 1vw;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #FCEED5;
    height: 5vw;
}

.menu .nav-link {
    font-family: 'inter';
    font-size: 1.4vw;
    font-weight: bold;
    font-style: normal;
    color: var(--Primary-Color-Dark-Blue, #003459);
    padding: 0.5vw 4vw;
}

.nav-link a {
    font-family: 'inter';
    font-size: 1.4vw;
    font-weight: bold;
    font-style: normal;
    color: var(--Primary-Color-Dark-Blue, #003459);
    text-decoration-line: none;
    padding-right: 1vw;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a:active {
    text-decoration: underline;
    font-weight: bolder;
}

#sty-user {
    list-style-type: none;
    margin-top: -1vw;
}

.menu .dropdown-item {
    width: 100%;
    padding: 5% 20%;
}

#footer {
    height: 10%;
    background-color: #FCEED5;
    width: 100%;
    font-style: normal;
    font-family: 'inter';
}

#footer .fa-phone-alt,
.bi-envelope-fill,
.fa-tiktok,
.fa-facebook-f,
.fa-youtube {
    color: white;
    background-color: black;
    padding: 1%;
    border-radius: 100%;
    margin: 3% 3% 3% 0;
}

#footer .fa-facebook-f {
    padding-right: 1.5%;
    padding-left: 1.5%;
}

#footer table,
td {
    margin-left: 15%;
    margin-right: 10%;
    font-family: 'inter';
}

#footer #connect_shop {
    margin-top: 2%;
}

#footer h3 {
    font-size: 20px;
    font-weight: bold;
}

#infor-shop {
    width: 50%;
    margin-top: 2vw;
}

#infor-shop h3,
#policy h3 {
    font-size: 1.35vw;
}

#infor-shop p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1vw;
}

#infor-shop i {
    font-size: 1vw;
}

#footer #policy {
    margin-top: 2vw;
    width: 30%;
    line-height: 3.5vw;
}

#policy a {
    font-size: 1vw;
}

#footer a {
    color: #000;
}

#footer-body {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.logo {
    width: 20%;
    margin: auto;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5% 0;
}

.sub-menu li {
    list-style-type: none;
    padding: 5%;
    width: 100%;
}

.sub-menu li a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin: 8%;
}

.sub-menu li:hover {
    background-color: #d9d7d72f;
}

.nav li:hover>.sub-menu {
    display: block;
    color: #D9D7D7;
}

.nav>li>.sub-menu {
    top: 40px;
    left: 0;
}

.al-center {
    display: flex;
    align-items: center;
}

.ju-center {
    justify-content: center;
}

.title {
    font-size: 1.4vw;
    font-weight: 600;
    color: var(--Primary-Color-Dark-Blue, #003459);
}

#best-seller,
#new-products,
#promotion {
    margin: 3vw 0;
}

#banner {
    margin: 4vw 0;
}

.sub-section {
    width: 48%;
    border-radius: 10px;

}

.sub-section img {
    width: 100%;
    border-radius: 10px;
}

.sub-section:hover {
    transform: scale(1.05);
    box-shadow: #aaa7a7 3px 3px 3px 5px;
    transition: all 0.5s;
}

#shopify-section {
    display: flex;
    justify-content: space-between;
}

#shop-address .img-shop {
    display: flex;
    justify-content: space-between;
}

#shop-address hr {
    width: 35%;
}

#shop-address .title {
    display: flex;
    justify-content: space-between;
}

#shop-address h3 {
    color: var(--Primary-Color-Dark-Blue, #003459);
}

#shop-address p {
    font-size: 1.2vw;
}

#shop-address input {
    background-color: #003459;
    color: #FCEED5;
    font-size: 1.3vw;
    font-weight: 600;
    width: 10vw;
    padding: 0.5vw;
    border-radius: 30px;
}

#shop-address-detail {
    text-align: center;
    margin: 2vw;
}

#shop-address-detail h3 {
    font-size: 1.6vw;
}

#slider-text {
    padding-top: 40px;
    display: block;
}

#slider-text .col-md-6 {
    overflow: hidden;
}

#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
}

#slider-text h2::after {
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
}
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}

#slider-control img {
    padding-top: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    #slider-control img {
        padding-top: 70px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
    display: flex;
    align-items: center;
    background-color: #fceed500;
    background-image: none;
}

.carousel-showmanymoveone .carousel-control.right {
    display: flex;
    align-items: center;
    background-color: #fceed500;
    background-image: none;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}

@media all and (min-width: 768px) {

    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%;
    }

    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%;
    }

    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width: 992px) {

    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -16.666%;
    }

    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 16.666%;
    }

    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.product {
    width: 98%;
    padding: 2vw 2vw 0 2vw;
}

.product img {
    width: 100%;
}

.container-fluid {
    border: 1px solid #003459;
    border-radius: 10px;
    background-color: #FCEED5;
    padding: 1.5vw 0;
}

.container-fluid .product {
    padding: 1.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 10px;
    border: 0.5px solid gainsboro;
    background: var(--Neutral-Color-00, #FDFDFD);
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}

.container-fluid .product a {
    color: #000;
    text-decoration: none;
}

.container-fluid img:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.carousel-inner {
    width: 98%;
    margin: auto;
}

.pro-price {
    color: #FF0E0E;
    font-family: 'Inter';
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
    text-align: left;
    margin-top: 1vw;
}

.sales {
    display: flex;
    justify-content: end;
    margin-top: 1.5vw;
    font-size: 0.9vw;
}

.number-of-sales {
    margin-left: 0.4vw;
}

.product img {
    border-radius: 10px;
    margin-bottom: 1vw;
}

.text-truncate-container {
    width: 100%;
    margin: auto;
}

.text-truncate-container p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1vw;
    text-align: left;
    font-weight: 500;
}