.header {
    height: fit-content;
    padding: 2% 3% 0 2%;
    display: flex;
    background-color: #FCEED5;
}

.logo {
    width: 15vw;
    text-align: center;
}

.logo img {
    width: 5vw;
    max-width: 70px;
}

.header .logo {
    width: 10vw;
}

.header #search-container {
    position: relative;
    background-color: #ffffffea;
    flex-direction: row;
    display: flex;
    width: 45vw;
    border-radius: 10px;
    border: 1px solid #D9D7D7;
    margin-left: 5vw;
}

.header #submit {
    padding: 1.5% 2%;
    margin-left: 1%;
    background-color: white;
}

.header #input_search {
    width: 90%;
    border: none;
    margin: 1% 1%;

}

.header #isearch {
    width: 90%;
}

.header #phone,
#email {
    text-align: center;
    padding: 1% 5%;
    margin: 0 5vw 0 0;
}

.header #sty_phone,
#sty_email {
    color: #8E8989;
    font-family: Inter;
    line-height: 1px;
}

.header #infor {
    display: inline-flex;
    margin-left: 10vw;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #FCEED5;
    height: 5vw;
}

.menu .nav-link {
    font-family: 'inter';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: var(--Primary-Color-Dark-Blue, #003459);
    padding: 0.5vw 4vw;
}

.nav-link a {
    font-family: 'inter';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: var(--Primary-Color-Dark-Blue, #003459);
    text-decoration-line: none;
    padding-right: 1vw;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a:active {
    text-decoration: underline;
    font-weight: bolder;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin: 0 3vw;
}

#sty-user {
    list-style-type: none;
    margin-top: -1vw;
}

.menu .dropdown-item {
    width: 100%;
    padding: 5% 20%;
}

#footer {
    height: 10%;
    background-color: #FCEED5;
    width: 100%;
    font-style: normal;
    font-family: 'inter';
}

#footer .fa-phone-alt,
.bi-envelope-fill,
.fa-tiktok,
.fa-facebook-f,
.fa-youtube {
    color: white;
    background-color: black;
    padding: 1%;
    border-radius: 100%;
    margin: 3% 3% 3% 0;
}

#footer .fa-facebook-f {
    width: 25px;
    padding-left: 1.5%;
}

#footer table,
td {
    margin-left: 15%;
    margin-right: 10%;
    font-family: 'inter';
}

#footer #connect_shop {
    margin-top: 5%;
}

#footer h3 {
    font-size: 20px;
    font-weight: bold;
}

#infor-shop {
    padding-bottom: -2px;
}

#footer #policy {
    padding-top: 3%;
    width: 30%;
    line-height: 45px;
}

#footer a {
    color: #000;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5% 0;
}

.sub-menu li {
    list-style-type: none;
    padding: 5%;
    width: 100%;
}

.sub-menu li a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin: 8%;
}

.sub-menu li:hover {
    background-color: #d9d7d72f;
}

.nav li:hover>.sub-menu {
    display: block;
    color: #D9D7D7;
}

.nav>li>.sub-menu {
    top: 40px;
    left: 0;
}

.al-center {
    display: flex;
    align-items: center;
}

.ju-center {
    justify-content: center;
}

#greeting {
    display: flex;
    justify-content: center;
    padding: 4vw 0;
}

#greeting h4 {
    font-size: 1.4vw;
    margin-right: 0.5vw;
    color: #003459;
}

#detail-account {
    width: 45%;
    margin: auto;
    margin-bottom: 3vw;
}

#sign-out {
    width: 15vw;
    margin-bottom: 4vw;
    padding: 0.5vw;
    border-radius: 30px;
    background-color: #003459;
    font-size: 1.4vw;
    font-weight: 600;
    color: #ffffff;
}

#btn-signout {
    width: 15vw;
    margin: auto;
}

#detail-account a {
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: 2vw;
    color: #000;
    text-decoration-line: none;
}

#detail-account a:hover {
    text-decoration-line: underline;
}

#profile {
    width: 75%;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 3vw;
    border: 1px solid grey;
    border-radius: 10px;
}

#profile-head {
    text-align: center;
    border-radius: 10px;
    padding: 1vw;
    margin-top: 1vw;
}

#profile-head h4 {
    font-size: 1.6em;
    font-weight: 700;
}

#profile-detail {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
}

.sty-profile {
    width: 45%;
}

.sty-profile input {
    width: 100%;
    padding: 0.7vw;
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
    font-size: 1.1vw;
    border-radius: 10px;
    border: 1px solid #afafaf;
    background-color: #ffffff;
    text-align: left;
}

.sty-profile p {
    font-size: 1.2vw;
}

#edit-complete #complete {
    margin: unset;
}

#complete {
    width: 15vw;
    font-size: 1.4vw;
    font-weight: 600;
    background-color: #003459;
    color: #ffffff;
    padding: 0.7vw;
    border-radius: 30px;
    margin-bottom: 4vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

a {
    font-size: 1.4vw;
    font-weight: 600;
    padding: 0.7vw;
    color: #000;
}

#change-password table {
    width: 65%;
    margin: auto;
    margin-top: -2vw;
}

#change-password {
    width: 100%;
}

#change-password h5 {
    font-size: 1.1em;
    font-weight: 500;
}

#change-password input {
    width: 100%;
    padding: 0.5vw;
}

#change-password tr {
    height: 4vw;
}

#forgot-password a {
    color: #003459;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    margin-left: 9vw;
}

#address-detail tr {
    height: 3vw;
    border-bottom: 1px solid black;
}

#address-detail table {
    width: 60%;
    margin: auto;
    margin-top: -2vw;
    margin-bottom: 4vw;
}

#address-detail td {
    padding: 0.7vw;
}

#address-detail button {
    width: 100%;
    display: flex;
    margin-top: 0.2vw;
    border: none;
    background-color: #ffffff;
}

#address-detail p {
    font-size: 1.2vw;
    margin-bottom: -0.3vw;
    font-weight: 300;
}

#title {
    display: flex;
    justify-content: center;
    padding: 4vw 0;
}

#title h4 {
    font-size: 1.5em;
    margin-right: 0.5vw;
    font-weight: 650;
    color: #003459;
}

#error-message {
    color: red;
    margin-left: 1vw;
}

#city,
#district,
#ward {
    width: 100%;
    padding: 0.5vw;
    border: 1px solid #AFAFAF;
    border-radius: 10px;
    font-size: 1em;
}

.modal-body input {
    width: 100%;
    padding: 0.5vw;
    border: 1px solid #AFAFAF;
    border-radius: 10px;
    font-size: 1vw;
}

.btn-secondary {
    background-color: antiquewhite;
    color: #003459;
    font-size: 1.1vw;
    font-weight: 500;
    --bs-btn-hover-border-color: #FCEED5;
    --bs-btn-hover-bg: #FCEED5;
    --bs-btn-hover-color: rgb(108, 0, 0);
}

.btn-primary {
    background-color: #003459;
    color: white;
    font-size: 1.1vw;
    font-weight: 500;
    --bs-btn-hover-border-color: #003459;
    --bs-btn-hover-bg: #003459;
    --bs-btn-hover-color: rgb(255, 251, 149);
}

#address-detail a {
    color: #000;
}

#profile-body {
    width: 50%;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

#profile-body input {
    width: 100%;
    padding: 0.5vw;
    border-radius: 10px;
    border: 1px solid grey;
}

li.active a {
    text-decoration-line: underline;
}

.menuItem a {
    text-decoration-line: none;
    font-size: 1.3vw;
    color: #003459;
}

.menuItem a:hover {
    text-decoration-line: underline;
}

#menu-purchase li {
    list-style-type: none;
    display: inline-block;
    width: 13vw;
    height: 3vw;
    margin-left: -5px;
    text-align: center;
}

#menu-purchase ul {
    overflow: hidden;
    width: 100%;
}

#menu-purchase {
    width: 70%;
    margin: auto;
    margin-bottom: 2vw;
}

.detai-order {
    width: 100%;
}

.detai-order th {
    text-align: center;
    background-color: #FCEED5;
    padding: 0.5vw;
    font-size: 1.1vw;
}

.detai-order table {
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 4vw;
}

.detai-order td {
    text-align: center;
    padding: 0.5vw;
    font-size: 1vw;
}

.orders {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin-bottom: 3vw;
}

#detail-order {
    background-color: white;
    width: 50%;
    border: 1px solid #CCD1D2;
    padding: 4em 2em;
}

.title {
    font-size: 1.3em;
    font-weight: 600;
}

#products {
    background-color: #F5F5F5;
    width: 50%;
    border: 1px solid #CCD1D2;
    max-height: max-content;
    padding: 3vw 4vw 3vw 1vw;
}

.text-truncate-container {
    width: 100%;
    margin: auto;
}

.text-truncate-container p {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1em;
    text-align: left;
    font-weight: 600;
}

.detail-product {
    width: 60%;
    text-align: left;
    margin-left: 1em;
    line-height: 1.1em;
}

.detail-product p {
    font-size: 1em;
}

.pro-price {
    font-family: 'Inter';
    font-size: 1.2emvw;
    font-style: normal;
    font-weight: 700;
    line-height: 5px;
    align-items: center;
    display: flex;
    margin-left: 1.5vw;
    color: rgba(203, 14, 14, 0.757);
}

.img-product {
    width: 100%;
    margin-top: 1vw;
}

#note {
    font-size: 0.9vw;
    font-weight: 400;
    color: #656565;
}

h5 {
    font-size: 1.2em;
    padding: 0.5vw 0;
}

h3 {
    font-size: 1.4em;
    padding: 0.5vw 0;
}

#detail-pay {
    margin: 4vw;
    margin-top: 2vw;
    color: #003459;
}

#detail-order p {
    font-size: 1.1em;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
}

#address-detail i {
    font-size: 1.4vw;
}

#edit-complete {
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 0 0 3vw 0;
}

#detail {
    margin-top: 1em;
    font-weight: 600;
}

#sty-com {
    width: 20vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
}

.img-pro {
    width: 7.5vw;
}

@media only screen and (max-width: 768px) {
    /* .menu {
        display: none;
    }

    .header {
        display: none;
    }

    #footer {
        display: none;
    }  */

    #profile {
        width: 100%;
    }

    #profile-head h4,
    #title h4 {
        font-size: 1.2em;
        color: #003459;
    }

    #profile-head {
        margin-bottom: -2vw;
    }

    h5 {
        font-size: unset;
    }

    #profile-detail {
        display: unset;
        padding: 1vw;
    }

    .sty-profile {
        width: 90%;
        margin: auto;
    }

    .sty-profile input {
        font-size: unset;
        border-radius: 1vw;
        border: 1px solid #afafaf;
        background-color: #ffffff;
        text-align: left;
        padding: 2vw 1vw;
    }

    #edit-complete #complete {
        margin: unset;
    }

    #complete {
        width: unset;
        font-size: 1.2em;
        display: flex;
        margin: auto;
        padding: 1vw 3vw;
    }

    #profile {
        border: none;
    }

    #address-detail p {
        font-size: unset;
    }

    #address-detail table {
        width: 90%;
    }

    a {
        font-size: 1.2em;
    }

    #address-detail tr {
        height: 13vw;
    }

    #address-detail i {
        font-size: unset;
    }

    #address-detail {
        margin-bottom: 8vw;
    }

    #change-password table {
        width: 100%;
    }

    #change-password h5 {
        font-size: 0.9em;
        font-weight: 500;
    }

    #change-password tr {
        height: 16vw;
    }

    #forgot-password a {
        margin-left: 0;
    }

    #edit-complete {
        width: 70%;
        margin-top: -2vw;
        justify-content: space-between;
    }

    #profile-body {
        width: 100%;
    }

    #city,
    #district,
    #ward,
    #profile-body input {
        width: 100%;
        padding: 1.5vw;
        border: 1px solid #AFAFAF;
        border-radius: 1vw;
        font-size: 1em;
    }

    #sty-com {
        width: 15em;
    }

    #sty-com #complete {
        margin: unset;
    }

    .orders {
        display: unset;
    }

    #detail-order {
        width: 100%;
        padding: 1em;
    }

    #products {
        width: 100%;
        margin-bottom: 3em;
    }

    .img-pro {
        width: 15%;
    }

    .img-product {
        width: 90%;
        margin-top: 3vw;
    }

    .detail-product {
        width: 65%;
    }

    #detail-order p {
        font-size: 1em;
    }

    .column {
        display: unset;
    }
    
}